/*place global styles here */
html, body {
  @apply h-full overflow-hidden;
}
@font-face {
	font-family: 'FantasqueSansMonoRegularNerdFontComplete';
	src: url('/fonts/FantasqueSansMonoRegularNerdFontComplete.ttf');
	font-display: swap;
}

:root {
	--theme-rounded-base: 20px;
	--theme-rounded-container: 4px;
  --theme-font-family-base: 'FantasqueSansMonoRegularNerdFontComplete';
  --theme-font-family-heading: 'FantasqueSansMonoRegularNerdFontComplete';
}

body { @apply bg-surface-100-800-token; }

